@use '@angular/material' as mat;
@use 'styles/mat_theme-colors' as palette;
@use 'tailwindcss' as spacing;
@use './styles/material-overrides';

/* Overlay */
@use '@angular/cdk/overlay-prebuilt.css' as *;

@layer base {
  html {
    @include mat.theme(
      (
        color: (
          primary: palette.$primary-palette,
          tertiary: palette.$tertiary-palette,
        ),
        typography: (
          plain-family: var(--serif),
          bold-weight: 800,
          medium-weight: 600,
          regular-weight: 400,
        ),
        density: 0,
      )
    );
  }
}
